{
  "name": "freepik-backend",
  "version": "1.0.0",
  "description": "Backend to download files from Freepik.",
  "main": "server.js",
  "scripts": {
    "start": "node server.js"
  },
  "author": "",
  "license": "ISC",
  "dependencies": {
    "@sparticuz/chromium": "^123.0.1",
    "axios": "^1.6.8",
    "cors": "^2.8.5",
    "express": "^4.19.2",
    "firebase-admin": "^12.0.0",
    "puppeteer-core": "^22.6.0"
  }
}

